.card {
    border: 2px solid gray;
    margin: 20px;
    padding: 5px;
    flex: 1 0 21%;
    width: 400px;
    cursor: pointer;
}

.small-card {
    border-bottom: 2px solid gray;
    margin-right: 150px;
    margin-left: 150px;
    padding: 5px;
    padding-bottom: 20px;
    flex: 1 0 80%;
    margin-bottom: 50px;
}

.description {
    display: flex;
    align-items: center;
}

.product-image{
    width: 300px;
    height: 300px;
    margin: auto;
    display: block;
    padding-left: 50px;
}

.small-image{
    width: 150px;
    height: 150px;
    margin: auto;
    display: inline;
}

.product-details {
    margin: 10px;
}

.small-product {
    margin-left: 30px;
    width: 60%;
    display: inline-block;
    vertical-align: top;
}

.quantity {
    font-weight: bold;
}

.trash {
    padding-left: 15px;
    cursor: pointer;
}

.price {
    float: right;
    margin-top: 70px;
    font-size: 1.2em;
}